body{
    /* max-width:800px; */
    height: 100vh;
    margin: 0 auto;
    padding-top: 24px;
    text-align: center;
    background-image: url(images/bronze-bullish-stock-market-ilq9j12xsqer9bd9.jpg);
    background-size:cover;
  -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    
}

h1{
    font-size: 3rem;
    font-weight: bolder;
    font-style: italic;
    text-decoration: wavy;
    text-decoration:underline;
    color:rgb(247, 108, 9);   
    margin-bottom: 5rem;
    margin-top: 5px;

}

div{
    margin: 3rem;
}

label{
    font-size: 2rem;
    margin: 2rem 1rem;
    color: rgb(246, 198, 6);
    font-weight: 900;
}

input{
    padding:5px;
    width: 25%;
    border: 1px groove black;
     color:black;/* :rgb(247, 108, 9) */
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    text-align:left;
}

button{
    padding: 0.5rem 4rem;
    margin:0px;
    font-size: x-large;
    border-radius: 5px;
    background-color: black;
    color:rgb(233, 190, 20);
    cursor: pointer;
}

#output{
    font-size: x-large;
    font-weight: 600;
    background-color:#B8B8B8;
    border-radius: 5px solid black;
}

#quantity{
    margin-left: 8rem;
}
#initial-price{
    margin-left: 1rem;
}